In [1]:
import numpy as np
import pandas as pd
from random import choice

In [2]:
dados = pd.read_csv('dados.csv',sep=';');
dados

   id  altura  largura  comprimento   qi
0   1      20       18         30.0  NaN
1   2       2        3          3.0  4.0
2   3       5        2          1.5  6.0
3   4       3        4          9.0  2.0

In [3]:
dados['volume'] = dados['altura'] * dados['largura'] * dados['comprimento']

In [4]:
dados

   id  altura  largura  comprimento   qi   volume
0   1      20       18         30.0  NaN  10800.0
1   2       2        3          3.0  4.0     18.0
2   3       5        2          1.5  6.0     15.0
3   4       3        4          9.0  2.0    108.0

In [5]:
caixas_ord = dados.loc[1:10].sort_values('volume',ascending=False)
caixas_ord

   id  altura  largura  comprimento   qi  volume
3   4       3        4          9.0  2.0   108.0
1   2       2        3          3.0  4.0    18.0
2   3       5        2          1.5  6.0    15.0

# Algoritmo Python

**Significado Variáveis**

***bi*** – item (caixa) i a ser utilizada no padrão de empacotamento, caracterizada pelo seu comprimento, largura e altura;
 
***qi*** – quantidade de cada caixa;

***contêiner*** – contêiner a ser preenchido, caracterizado pelo seu comprimento,largura e altura;

− ***α*** - parâmetro que controla o grau de miopia e aleatoriedade da fase de construção;

***maxiter*** - número máximo de iterações definido como critério de parada;

***S**** – melhor solução encontrada dentro de todas as iterações; 

***iter*** – parâmetro que controla o número de iterações;

***S*** - melhor solução encontrada dentro de uma iteração;

***numcaixa*** – número total de caixas a serem empacotadas;


***C*** – lista de candidatos composta pelas caixas posicionadas em ordem decrescente de volume;

***lista*** – parâmetro que controla a lista de caixas a ser utilizada para o preenchimento (lista=1 – LRC; lista=2 – LRC , lista=3 ou lista=4 – caixas rotacionadas);

***|C|*** – tamanho da lista de candidatos;

***estEspaco*** – parâmetro que controla o estoque de espaços (espaço 
ocioso do comprimento do contêiner);

***β*** caixa de maior volume encontrada na lista de candidatos C;

***LRC*** – conjunto de lista restrita composta pelos melhores elementos da lista C;

***LRC traço*** – conjunto de lista restrita composta pelos elementos restantes;

***largDisp*** – valor da largura disponível da camada atual;

***largConteiner*** – valor da largura do contêiner;

***volVazio*** – valor do volume vazio do espaço ocioso da altura ou do comprimentoa ser preenchido;

***LCRestAlt*** – conjunto de lista de candidatos que caibam no espaço criado acima de cada coluna preenchida na camada;

****LCRestComp**** – conjunto de lista de candidatos que caibam no espaço ocioso criado a frente das caixas da camada atual;

**Variáveis**

In [6]:
s_aster = 0
container = dados.loc[0:0].copy()
# estEspaco = int(dados['volume'].loc[0:0].values)
largConteiner = int(dados['largura'].loc[0:0].values)
estEspaco = int(dados['comprimento'].loc[0:0].values)
lista = 1 
maxiter = range(1,15)
numcaixa = dados['qi'].sum()
c_modulo= len(caixas_ord.index)
c = dados.loc[1:10].sort_values('volume',ascending=False)
s = numcaixa
alpha = 0.8
largDisp = int(dados['largura'].loc[0:0].values)

In [7]:
caixa_u = []
largConteiner = int(dados['largura'].loc[0:0].values)
estEspaco = int(dados['comprimento'].loc[0:0].values)
s_aster = 0
c = dados.loc[1:10].sort_values('volume',ascending=False)
for i in maxiter:
    numCaixa = dados['qi'].sum()
    s = numCaixa
    c = dados.loc[1:10].sort_values('volume',ascending=False)
    lista = 1 
    cModulo = numCaixa
    largDisp = largConteiner
    while((cModulo > 0) &  (estEspaco > 0) & (lista > 0)):
        b = int(c[0:1]['volume'])
        lrc = c.loc[(c['volume'] >= (alpha * b)) & (c['volume'] <= b)]
        lrc_t = c.drop(lrc.index, inplace=False)
        while ((numcaixa > 0) & (estEspaco > 0) & (largDisp <= largConteiner) & (lista >0)):
            if ((lista == 3) or lista == 4):
                
                s = int(lrc.loc[choice(list(lrc.index))].id)
                
                # Rotacionando as caixas C x L
                if ((lrc.loc[lrc['id'] == s, 'comprimento'] > compConteiner).values[0]):
                    aux = lrc.loc[lrc['id'] == s, 'comprimento']
                    lrc.loc[lrc['id'] == s, 'comprimento'] = lrc.loc[lrc['id'] == s, 'largura']
                    lrc.loc[lrc['id'] == s, 'largura'] = aux
                    
                # Rotacionando as caixas C x A
                if ((lrc.loc[lrc['id'] == s, 'largura'] > compConteiner).values[0]):
                    aux = lrc.loc[lrc['id'] == s, 'comprimento']
                    lrc.loc[lrc['id'] == s, 'comprimento'] = lrc.loc[lrc['id'] == s, 'altura']
                    lrc.loc[lrc['id'] == s, 'altura'] = aux
            
            # # Escolha Aleatória da Lista LRC
            elif (lista == 1):
                lrcCopy = lrc.copy()
                s = int(lrc.loc[choice(list(lrc.index))].id)
                largCaixa = dados.loc[dados['id'] == s,'largura'].values[0]
                compCaixa = dados.loc[dados['id'] == s,'comprimento'].values[0]
                '''' while ((largCaixa >= 0) or (compCaixa > estEspaco)):
                    # Apagando a caixa da listas de possibilidades
                    lrcCopy.drop(labels=dados.loc[dados['id'] == s].index, errors='ignore',inplace=True)
                    s = int(lrc.loc[choice(list(lrc.index))].id)
                    largCaixa = dados.loc[dados['id'] == s,'largura'].values[0]
                    compCaixa = dados.loc[dados['id'] == s,'comprimento'].values[0]
                    altCaixa = dados.loc[dados['id'] == s,'altura'].values[0]
                lrc.loc[lrc['id'] == s, 'qi'] -= 1
                profundidadeCam = dados.loc[dados['id'] == s,'comprimento'].values[0]
                '''
                       
            # Escolha Aleatória da Lista LRC_t
            elif (lista == 2):
                s = int(lrc_t.loc[choice(list(lrc_t.index))].id)
            
            # Atualização dos Dados
            
            caixa_u.append(s) # Caixa de item empacotados
            numcaixa -= 1 # Qtd de caixas faltantes
            
            # Apagando a caixa da listas de possibilidades
            #lrc.drop(labels=dados.loc[dados['id'] == s].index, errors='ignore',inplace=True)
            #lrc_t.drop(labels=dados.loc[dados['id'] == s].index, errors='ignore',inplace=True)
            
             # Ajustando o tamanho do container
            container.loc[0,'altura'] -= dados.loc[dados['id'] == s, 'altura'].values[0]
            container.loc[0,'largura'] -= dados.loc[dados['id'] == s, 'largura'].values[0]
            container.loc[0,'comprimento'] -= dados.loc[dados['id'] == s, 'comprimento'].values[0]
            container['volume'] = container['altura'] * container['largura'] * container['comprimento'] 
             
            estEspacoLarg = dados.loc[0,'largura'] - dados.loc[dados['id'] == s, 'largura'].values[0]
            estEspacoAlt = dados.loc[0,'altura'] - dados.loc[dados['id'] == s, 'altura'].values[0]

            break;
        break;
    break;
print(s)

4

In [8]:
idCaixa = s

In [9]:
dados.loc[dados['id'] == s,'largura'].values[0]

4

In [10]:
altCamada = container['altura'].values[0]
largCamada = container['largura'].values[0]

In [11]:
largCamada

14

In [12]:
dados

   id  altura  largura  comprimento   qi   volume
0   1      20       18         30.0  NaN  10800.0
1   2       2        3          3.0  4.0     18.0
2   3       5        2          1.5  6.0     15.0
3   4       3        4          9.0  2.0    108.0

In [28]:
container

   id  altura  largura  comprimento  qi  volume
0   1      17       14         21.0 NaN  4998.0

In [14]:
lrc

   id  altura  largura  comprimento   qi  volume
3   4       3        4          9.0  2.0   108.0

In [15]:
altCaixa = lrc.loc[lrc['id'] == idCaixa]['altura']
largCaixa = lrc.loc[lrc['id'] == idCaixa]['largura']
qtdCaixa = lrc.loc[lrc['id'] == idCaixa]['qi']
qtdCol = int(altCamada / altCaixa)
qtdColLarg = int(largCamada / largCaixa)
totCaixas = qtdCol * qtdColLarg

In [16]:
totCaixas

15

In [17]:
qtdCaixa -= 1

In [18]:
qtdColLarg

3

In [19]:
altCamada

17

In [98]:
def completarColuna(lrc, idCaixa, altCamada):
    altCaixa = lrc.loc[lrc['id'] == idCaixa]['altura']
    largCaixa = lrc.loc[lrc['id'] == idCaixa]['largura']
    qtdCaixa = lrc.loc[lrc['id'] == idCaixa]['qi']
    qtdCol = int(altCamada / altCaixa)
    qtdColLarg = int(largCamada / largCaixa)
    totCaixas = qtdCol * qtdColLarg
    if(!qtdCol > (qtdCaixa + 1):
       altCamada -= (qtdCaixa + 1) * altCaixa
       lrc.loc[lrc['id'] == s, 'qi'] -= qtdCaixa + 1
    if(!totalCaixas > (qtdCaixa + 1):
        qtdColPreenchida = (qtdCaixa+1) / qtdCol
       
       return False
    if():

SyntaxError: invalid syntax (<ipython-input-98-f647d073b462>, line 8)

In [20]:
qtdColPreenchida = (qtdCaixa+10) / qtdCol
qtdColPreenchida

3    2.2
Name: qi, dtype: float64

In [21]:
qtdCol

5

In [22]:
idCaixa = s
idCaixa

4

In [23]:
lrc.loc[lrc['id'] == s, 'qi'] -= 1

C:\Users\JOSE\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [24]:
altCaixa = lrc.loc[lrc['id'] == idCaixa]['altura']
largCaixa = lrc.loc[lrc['id'] == idCaixa]['largura']
qtdCaixa = lrc.loc[lrc['id'] == idCaixa]['qi']
altCaixa

3    3
Name: altura, dtype: int64

In [25]:
qtdCol = int(altCamada / altCaixa)
qtdCol

5

In [176]:
lrc

   id  altura  largura  comprimento   qi  volume
3   4       4        4          9.0  1.0   108.0

In [29]:
lrc.loc[lrc['id'] == s, 'qi'] -= qtdCaixa + 1

In [62]:
matrizPreechimento = pd.DataFrame(data=None, columns=(np.arange(11)),index=(np.arange(10)))

In [63]:
matrizPreechimento['camada'] = 0

In [64]:
matrizPreechimento

     0    1    2    3    4    5    6    7    8    9   10  camada
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       0
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       0
2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       0
3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       0
4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       0
5  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       0
6  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       0
7  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       0
8  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       0
9  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       0